body { background: #6baa7f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 14px; display: flex; }
.block-sms-0 { color: #ddaa49; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #771ff4; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #c40c51; font-size: 21px; margin-bottom: 5px; }
.block-notify-3 { color: #94e166; font-size: 16px; margin-bottom: 5px; }
.block-payment-4 { color: #46bc7a; font-size: 17px; margin-bottom: 5px; }
.block-auth-5 { color: #6e00ed; font-size: 21px; margin-bottom: 5px; }